//Variables
//colores
$principal : #33C3F0;
$secundario: #741d51;
$terciario: #e44e52;
$blanco: #ffffff;
$gris: #888883;
$negro: #111111;
// $color1: #79295a;
// $color2:#380625;

$fuente_princial: 'Raleway', sans-serif;

// variables para los tamaños de MEDIA QUERIES

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;