/*Variables
Colores*/
$principal : #33C3F0;
$secundario : #741D51;
$terciario : #E44E51;
$blanco : #FFFFFF;
$gris : #9b9b9b;

$fuente_principal : 'Raleway', sans-serif;

$desktop : 1024px;
$tablet : 768px;
$telefono : 480px;